
/*========================================== Row / Colum Background Base Css ==========================================*/
.cspt-col-stretched-yes .cspt-stretched-div{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;    
    width: auto;
    z-index: 1;
    overflow: hidden;
}
.cspt-col-stretched-right .cspt-stretched-div,
.cspt-col-stretched-left .cspt-stretched-div{   
    right: 0;
}
.elementor-section.elementor-top-section.cspt-bg-image-over-color.cspt-bgimage-yes:before,
.elementor-column.elementor-top-column.cspt-bgimage-yes.cspt-bg-image-over-color > .cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-bg-image-over-color > .elementor-widget-wrap:before,
.elementor-column.elementor-top-column.cspt-bg-image-over-color > .elementor-column-wrap:before{ 
	background-color: transparent !important;
}
.elementor-column.cspt-col-stretched-yes.cspt-bgimage-yes{
    background-image: none;
    background-color: transparent;
}
.cspt-bgimage-over-bgcolor.cspt-bgimage-yes .cspt-stretched-div:before,
.cspt-bgimage-over-bgcolor.cspt-bgimage-yes:before{
   background-color: transparent !important
}


.elementor-top-section:before, 
.cspt-col-stretched-yes .cspt-stretched-div:before,

.elementor-column.elementor-top-column .elementor-widget-wrap:before,
.elementor-column.elementor-top-column .elementor-column-wrap:before,

.elementor-inner-column > div:before,
.elementor-inner-section:before{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	content: "";
	display: block;
	z-index: 1;
}


/* --------------------------------------
 * Row Colum - Global BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-globalcolor, 
.elementor-section.elementor-top-section.cspt-elementor-bg-color-globalcolor:before, 
.elementor-section.elementor-inner-section.cspt-elementor-bg-color-globalcolor {
    background-color: var(--cspt-leblix-global-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-globalcolor.cspt-bgimage-yes:before{
	background-color: rgba( var(--cspt-leblix-global-color-rgb) , 0.60 );
}



/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor:not(.cspt-bgimage-yes) .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bg-image-over-color .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor:not(.cspt-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor:not(.cspt-bgimage-yes) .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bg-image-over-color .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor:not(.cspt-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--cspt-leblix-global-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-widget-wrap .cspt-stretched-div:before,
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor .elementor-widget-wrap .cspt-bgimage-yes.cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-column-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-globalcolor .elementor-column-wrap .cspt-bgimage-yes.cspt-stretched-div:before{
	background-color: rgba( var(--cspt-leblix-global-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.cspt-elementor-bg-color-globalcolor{ 
	background-color: var(--cspt-leblix-global-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.cspt-elementor-bg-color-globalcolor:not(.cspt-bg-image-over-color):before{
	background-color: rgba( var(--cspt-leblix-global-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.cspt-elementor-bg-color-globalcolor > div.elementor-column-wrap,
.elementor-inner-column.cspt-elementor-bg-color-globalcolor > div.elementor-widget-wrap{ 
	background-color: var(--cspt-leblix-global-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.cspt-elementor-bg-color-globalcolor:not(.cspt-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.cspt-elementor-bg-color-globalcolor:not(.cspt-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--cspt-leblix-global-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Global BG Color ======*/

/* --------------------------------------
 * Row Colum - Light BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-light, 
.elementor-section.elementor-top-section.cspt-elementor-bg-color-light:before, 
.elementor-section.elementor-inner-section.cspt-elementor-bg-color-light {
    background-color: var(--cspt-leblix-light-bg-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-light.cspt-bgimage-yes:before{
	background-color: rgba( var(--cspt-leblix-light-bg-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light:not(.cspt-bgimage-yes) .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bg-image-over-color .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light:not(.cspt-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-light:not(.cspt-bgimage-yes) .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bg-image-over-color .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light:not(.cspt-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--cspt-leblix-light-bg-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-widget-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light .elementor-widget-wrap .cspt-bgimage-yes.cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-column-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-light .elementor-column-wrap .cspt-bgimage-yes.cspt-stretched-div:before{
	background-color: rgba( var(--cspt-leblix-light-bg-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.cspt-elementor-bg-color-light{ 
	background-color: var(--cspt-leblix-light-bg-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.cspt-elementor-bg-color-light:not(.cspt-bg-image-over-color):before{
	background-color: rgba( var(--cspt-leblix-light-bg-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.cspt-elementor-bg-color-light > div.elementor-column-wrap,
.elementor-inner-column.cspt-elementor-bg-color-light > div.elementor-widget-wrap{ 
	background-color: var(--cspt-leblix-light-bg-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.cspt-elementor-bg-color-light:not(.cspt-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.cspt-elementor-bg-color-light:not(.cspt-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--cspt-leblix-light-bg-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Light BG Color ======*/

/* --------------------------------------
 * Row Colum - Secondary BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-secondary, 
.elementor-section.elementor-top-section.cspt-elementor-bg-color-secondary:before, 
.elementor-section.elementor-inner-section.cspt-elementor-bg-color-secondary {
    background-color: var(--cspt-leblix-secondary-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-secondary.cspt-bgimage-yes:before{
	background-color: rgba( var(--cspt-leblix-secondary-color-rgb) , 0.85 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary:not(.cspt-bgimage-yes) .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bg-image-over-color .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary:not(.cspt-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary:not(.cspt-bgimage-yes) .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bg-image-over-color .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary:not(.cspt-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--cspt-leblix-secondary-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-widget-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary .elementor-widget-wrap .cspt-bgimage-yes.cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-column-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-secondary .elementor-column-wrap .cspt-bgimage-yes.cspt-stretched-div:before{
	background-color: rgba( var(--cspt-leblix-secondary-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.cspt-elementor-bg-color-secondary{ 
	background-color: var(--cspt-leblix-secondary-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.cspt-elementor-bg-color-secondary:not(.cspt-bg-image-over-color):before{
	background-color: rgba( var(--cspt-leblix-secondary-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.cspt-elementor-bg-color-secondary > div.elementor-column-wrap,
.elementor-inner-column.cspt-elementor-bg-color-secondary > div.elementor-widget-wrap{ 
	background-color: var(--cspt-leblix-secondary-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.cspt-elementor-bg-color-secondary:not(.cspt-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.cspt-elementor-bg-color-secondary:not(.cspt-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--cspt-leblix-secondary-color-rgb) , 0.60 );
}



/*====== End --- Row Colum - Secondary BG Color ======*/

/* --------------------------------------
 * Row Colum - Blackish BG Color
 * ---------------------------------------*/


/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-blackish, 
.elementor-section.elementor-top-section.cspt-elementor-bg-color-blackish:before, 
.elementor-section.elementor-inner-section.cspt-elementor-bg-color-blackish {
    background-color: var(--cspt-leblix-blackish-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-blackish.cspt-bgimage-yes:before{
	background-color: rgba( var(--cspt-leblix-blackish-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish:not(.cspt-bgimage-yes) .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bg-image-over-color .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish:not(.cspt-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish:not(.cspt-bgimage-yes) .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bg-image-over-color .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish:not(.cspt-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--cspt-leblix-blackish-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-widget-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish .elementor-widget-wrap .cspt-bgimage-yes.cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-column-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-blackish .elementor-column-wrap .cspt-bgimage-yes.cspt-stretched-div:before{
	background-color: rgba( var(--cspt-leblix-blackish-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.cspt-elementor-bg-color-blackish{ 
	background-color: var(--cspt-leblix-blackish-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.cspt-elementor-bg-color-blackish:not(.cspt-bg-image-over-color):before{
	background-color: rgba( var(--cspt-leblix-blackish-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.cspt-elementor-bg-color-blackish > div.elementor-column-wrap,
.elementor-inner-column.cspt-elementor-bg-color-blackish > div.elementor-widget-wrap{ 
	background-color: var(--cspt-leblix-blackish-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.cspt-elementor-bg-color-blackish:not(.cspt-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.cspt-elementor-bg-color-blackish:not(.cspt-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--cspt-leblix-blackish-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - Blackish BG Color ======*/

/* --------------------------------------
 * Row Colum - White BG Color
 * ---------------------------------------*/



/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-white, 
.elementor-section.elementor-top-section.cspt-elementor-bg-color-white:before, 
.elementor-section.elementor-inner-section.cspt-elementor-bg-color-white {
    background-color: var(--cspt-leblix-white-color);
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-white.cspt-bgimage-yes:before{
	background-color: rgba( var(--cspt-leblix-white-color-rgb) , 0.60 );
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white:not(.cspt-bgimage-yes) .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bg-image-over-color .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white:not(.cspt-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-white:not(.cspt-bgimage-yes) .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bg-image-over-color .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white:not(.cspt-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-column-wrap{
	background-color: var(--cspt-leblix-white-color) !important;
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-widget-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white .elementor-widget-wrap .cspt-bgimage-yes.cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-column-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-white .elementor-column-wrap .cspt-bgimage-yes.cspt-stretched-div:before{
	background-color: rgba( var(--cspt-leblix-white-color-rgb) , 0.60 );
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.cspt-elementor-bg-color-white{ 
	background-color: var(--cspt-leblix-white-color) !important;
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.cspt-elementor-bg-color-white:not(.cspt-bg-image-over-color):before{
	background-color: rgba( var(--cspt-leblix-white-color-rgb) , 0.60 );
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.cspt-elementor-bg-color-white > div.elementor-column-wrap,
.elementor-inner-column.cspt-elementor-bg-color-white > div.elementor-widget-wrap{ 
	background-color: var(--cspt-leblix-white-color) !important;
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.cspt-elementor-bg-color-white:not(.cspt-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.cspt-elementor-bg-color-white:not(.cspt-bg-image-over-color) > div.elementor-widget-wrap:before{
	background-color: rgba( var(--cspt-leblix-white-color-rgb) , 0.60 );
}


/*====== End --- Row Colum - White BG Color ======*/


/* --------------------------------------
 * Row Colum - Gradient BG Color
 * ---------------------------------------*/

/*--- Main RoW BG ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-gradient, 
.elementor-section.elementor-top-section.cspt-elementor-bg-color-gradient:before, 
.elementor-section.elementor-inner-section.cspt-elementor-bg-color-gradient {
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
}

/*--- Main Row BG - with image ---*/
.elementor-section.elementor-top-section.cspt-elementor-bg-color-gradient.cspt-bgimage-yes:before{
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
    opacity: 0.5;
}

/*--- Main Colum BG - ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient:not(.cspt-bgimage-yes) .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bg-image-over-color .elementor-widget-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient:not(.cspt-col-stretched-yes) > .elementor-widget-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-widget-wrap,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient:not(.cspt-bgimage-yes) .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bg-image-over-color .elementor-column-wrap > .cspt-stretched-div, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient:not(.cspt-col-stretched-yes) > .elementor-column-wrap, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bg-image-over-color:not(.cspt-col-stretched-yes) > .elementor-column-wrap{
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
}


/*--- Main Colum BG - with image ---*/
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-widget-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-widget-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient .elementor-widget-wrap .cspt-bgimage-yes.cspt-stretched-div:before,

.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bgimage-yes:not(.cspt-col-stretched-yes) > .elementor-column-wrap:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient.cspt-bgimage-yes:not(.cspt-bg-image-over-color) .elementor-column-wrap .cspt-stretched-div:before, 
.elementor-column.elementor-top-column.cspt-elementor-bg-color-gradient .elementor-column-wrap .cspt-bgimage-yes.cspt-stretched-div:before{
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 80%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
    opacity: 0.5;
}


/*--- Inner Colum BG  ---*/
.elementor-inner-section.cspt-elementor-bg-color-gradient{ 
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
}

/*--- Inner Row - without image ---*/
.elementor-inner-section.cspt-elementor-bg-color-gradient:not(.cspt-bg-image-over-color):before{
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
    opacity: 0.5;
}


/*--- Inner Colum BG ---*/
.elementor-inner-column.cspt-elementor-bg-color-gradient > div.elementor-column-wrap,
.elementor-inner-column.cspt-elementor-bg-color-gradient > div.elementor-widget-wrap{ 
	background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
}

/*--- Inner Colum BG - with image ---*/
.elementor-inner-column.cspt-elementor-bg-color-gradient:not(.cspt-bg-image-over-color) > div.elementor-column-wrap:before,
.elementor-inner-column.cspt-elementor-bg-color-gradient:not(.cspt-bg-image-over-color) > div.elementor-widget-wrap:before{
    background-image: -ms-linear-gradient(right, var(--cspt-leblix-gradient-color-first) 0%, var(--cspt-leblix-gradient-color-last) 100%);
	background-image: linear-gradient(to right, var(--cspt-leblix-gradient-color-first) , var(--cspt-leblix-gradient-color-last) );
}


/*====== End --- Row Colum - Gradient BG Color ======*/