/*** cspt-ihbox-style-2 ***/
.cspt-ihbox-style-2 .cspt-ihbox-headingicon,
.cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number,
.cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper img{
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    transition: all 500ms ease;
}
.cspt-ihbox-style-2{
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper{
    margin-bottom: 30px;
}
.cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper{
    width: 140px;
    height: 140px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    border: 10px solid var(--cspt-leblix-white-color);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}
.cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper img{
    border-radius: 100%;
}
.cspt-miconheading-style-2:nth-of-type(4n+1) .cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper{
    width: 140px;
    height: 140px;
    border: 12px solid var(--cspt-leblix-white-color);
}
.cspt-miconheading-style-2:nth-of-type(4n+2) .cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper{
    width: 160px;
    height: 160px;
    border: 14px solid var(--cspt-leblix-white-color);
}
.cspt-miconheading-style-2:nth-of-type(4n+3) .cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper{
    width: 180px;
    height: 180px;
    border: 14px solid var(--cspt-leblix-white-color);
}
.cspt-miconheading-style-2:nth-of-type(4n+4) .cspt-ihbox-style-2 .cspt-ihbox-icon-wrapper{
    width: 260px;
    height: 260px;
    border: 20px solid var(--cspt-leblix-white-color);
}
.cspt-miconheading-style-2:nth-of-type(4n+2) .cspt-ihbox-style-2{
    margin-top: 120px;
}
.cspt-miconheading-style-2:nth-of-type(4n+4) .cspt-ihbox-style-2{
    margin-top: -50px;
}
.cspt-ihbox-style-2 .cspt-ihbox-headingicon{
    position: relative;
}
.cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number{
    content: '';
    position: absolute;
    top: 10%;
    left: 64%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--cspt-leblix-global-color);
    background-color: var(--cspt-leblix-white-color);
}
.cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number:before{
    height: 45px;
    position: absolute;
    width: 45px;
    border-radius: 100%;
    background-color: transparent;
    border: 4px solid var(--cspt-leblix-global-color);
    content: '';
    top: -2px;
    right: -2px;
    -webkit-transition: .3s cubic-bezier(.3,.58,.55,1);
    transition: .3s cubic-bezier(.3,.58,.55,1);
    transform: scale(1);
    transition: all 200ms linear;
}
.cspt-ihbox-style-2:hover .cspt-ihbox-headingicon .cspt-ihbox-box-number:before{
    border-color: var(--cspt-leblix-white-color);
    transform: scale(1.1);
}
.cspt-miconheading-style-2:nth-of-type(4n+1) .cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number{
    top: 10%;
    left: 65%;
}
.cspt-miconheading-style-2:nth-of-type(4n+2) .cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number{
    top: 30%;
    left: 15%;
}
.cspt-miconheading-style-2:nth-of-type(4n+3) .cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number{
    top: 45%;
    left: 15%;  
}
.cspt-miconheading-style-2:nth-of-type(4n+4) .cspt-ihbox-style-2 .cspt-ihbox-headingicon .cspt-ihbox-box-number{
    top: 14%;
    left: 7%;
}
.cspt-miconheading-style-2 .cspt-ihbox-style-2:hover .cspt-ihbox-icon:before{
	background-color: var(--cspt-leblix-global-color);
}
.cspt-ihbox-style-2:hover .cspt-ihbox-headingicon .cspt-ihbox-box-number{
    background-color: var(--cspt-leblix-global-color);
    border-color: var(--cspt-leblix-white-color);
    color: var(--cspt-leblix-white-color);;
}
.cspt-ihbox-style-2 .cspt-element-title{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
}
.cspt-ihbox-style-2 .cspt-heading-desc{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.cspt-element-miconheading-style-2 .cspt-element-posts-wrapper:before{   
    content: '';
    position: absolute;
    left: -50px;
    right: 0;
    height: 100%;
    display: block;
    background: url(../images/cspt-shape-step.png) center center no-repeat;
    top: 50px;
}
.cspt-ihbox-style-2:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}