/*=== cspt-blogbox-style-1 ===*/ 
.cspt-blog-style-1 .creativesplanet-box-content{
    padding: 22px 30px 15px;
    position: relative;
    background: #fff; 
    border: 1px solid #eee;
}
.cspt-blog-style-1 .creativesplanet-box-content .cspt-post-title{
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 15px; 
}
.cspt-blog-style-1 .creativesplanet-box-desc{
    margin-top: 10px;    
}
.cspt-blog-style-1 .cspt-meta-date-wrapper{
    position: absolute;
    left: 30px;
    top: -28px;
    padding: 7px 15px;
    text-align: center;
    display: inline-block;
    background-color: var(--cspt-leblix-global-color);
}
.cspt-blog-style-1 .cspt-meta-date-wrapper span{
    display: block;
    color: #fff;
    text-transform: uppercase;    
    font-family: Bai Jamjuree,sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
}
.cspt-blog-style-1 .cspt-meta-date-wrapper span.cspt-day{   
    font-size: 34px;
    line-height: 34px;
    font-weight: 700 !important; 
}
.cspt-blog-style-1 .cspt-featured-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}
.cspt-blog-style-1 .cspt-featured-wrapper img {
    position: relative;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.cspt-blog-style-1:hover .cspt-featured-wrapper img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.cspt-blog-style-1 .cspt-post-title a:hover{
    color: var(--cspt-leblix-global-color);
}
.cspt-blog-style-1 .creativesplanet-box-content .cspt-meta-category a{
    font-size: 13px!important;
}
.cspt-blog-style-1 .creativesplanet-box-content .cspt-meta-category a,
.cspt-blog-style-1 .creativesplanet-box-content .cspt-meta-line i  {
    color: var(--cspt-leblix-global-color);
}
.cspt-blog-style-1 .creativesplanet-box-content .cspt-meta-line a{
    font-size: 14px;
}
.creativesplanet-element-blog .cspt-blog-style-1 .cspt-meta-comment-wrapper.cspt-meta-line:before{
    content: unset;
}
.cspt-blog-style-1 .creativesplanet-box-content .cspt-meta-line .cspt-comments-hide{
    display: none;
}

.creativesplanet-element-blog .cspt-blog-style-1 .cspt-meta-comment-wrapper.cspt-meta-line{
    padding-left: 2px;
}