/* Service Style 2 */
.cspt-service-style-2 .creativesplanet-box-content-inner .cspt-service-icon-wrapper,
.cspt-service-style-2 .cspt-featured-wrapper img,
.cspt-service-style-2 .cspt-service-title a{
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
}
.cspt-service-style-2 .creativesplanet-post-item{
	box-shadow: 0px 8px 18px 0px rgb(0 0 0 / 9%);
	position: relative;
	overflow: hidden;
}
.cspt-service-style-2 .cspt-featured-wrapper {
	display: block;
	overflow: hidden;
}
.cspt-service-style-2 .creativesplanet-box-content{
	padding: 39px 40px 17px;
	background:var(--cspt-leblix-white-color);
}
.cspt-service-style-2 .cspt-service-title {
	position: relative;
	font-size: 18px;
	line-height: 25px;
	width: 120px;
}
.cspt-service-style-2 .cspt-service-icon-wrapper{
	line-height: 53px;
	font-size: 53px;
	color: var(--cspt-leblix-global-color);
}
.cspt-service-style-2 .cspt-service-icon-wrapper img {
	width: 53px;
	height: auto;
	margin-bottom: 10px;
}
.cspt-service-style-2 .cspt-service-btn a:before {
	color: var(--cspt-leblix-global-color);
}
.cspt-service-style-2 .cspt-featured-wrapper img{
	width: 100%;
}
.cspt-service-style-2:hover .cspt-featured-wrapper img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.cspt-service-style-2:hover .creativesplanet-box-content-inner .cspt-service-icon-wrapper{
	-ms-transform: rotateY(-360deg);
	-webkit-transform: rotateY(-360deg);
	transform: rotateY(-360deg);
}
.cspt-service-style-2-bg .elementor-container{
	max-width: none !important;
	width: 1450px;
}
@media (max-width: 1600px){
	.cspt-service-style-2-bg > .elementor-container{
		width: 1350px;
	}
}
@media (max-width: 1400px){
	.cspt-service-style-2-bg > .elementor-container{
		width: 1300px;
	}
}
@media (max-width: 1350px){
	.cspt-service-style-2-bg > .elementor-container{
		width: 100%;
		border-radius: 0;
	}
}
.cspt-element-service-style-2.creativesplanet-element-viewtype-carousel .owl-stage-outer{
	box-shadow: 0px 8px 18px 0px rgb(0 0 0 / 9%);
}

/*--- Service-style-2 ---*/
.cspt-service-style-2-bg > .elementor-container::after{
	position: absolute;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #003281;
}
.cspt-service-style-2-bg > .elementor-container{
	max-width: none !important;
	width: 1450px;
	border-radius: 0px;
}
.cspt-service-style-2-bg > .elementor-container > .elementor-column{
	margin: 0 auto;
	width: 1170px;
}
.cspt-service-style-2-bg > .elementor-container > .elementor-column .cspt-element-service-style-2{
	margin-bottom: -226px;
}
.cspt-service-style-2-bg:before,
.cspt-service-style-2-bg{
	background-color: transparent !important;
}

@media (max-width: 1600px){
	.cspt-service-style-2-bg > .elementor-container{
		width: 1350px;
	}
}
@media (max-width: 1400px){
	.cspt-service-style-2-bg > .elementor-container{
		width: 1300px;
	}	
}
@media (max-width: 1350px){
	.cspt-service-style-2-bg > .elementor-container{
		width: 100%;
		padding: 0 15px;
	}
}
@media (min-width: 1024px) and (max-width: 1200px){
	.cspt-service-style-2-bg > .elementor-container{
		padding: 0 15px;
	}
}